<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Spinnaker' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="pageContainer">
    <div id="headerContainer">
      <a href="http://ellipsisetc.com"><div id="logo"></div></a>
      <div id="navContainer">
        <div id="pageTop">
          <%= image_tag("left.gif", alt: "left") %>
          <%= link_to image_tag("about.gif", alt: "about"), '#' %>
          <%= link_to image_tag("whimsy.gif", alt: "whimsy"), '#' %>
          <%= link_to image_tag("code.gif", alt: "code"), '#' %>
          <%= link_to image_tag("news.gif", alt: "news"), '#' %>
          <%= link_to image_tag("contact.gif", alt: "contact"), '#' %>
        </div>
        <div id="separator">
          <br>
          <div class="ellipsisHeader"><%= yield(:title) %></div>
        </div>
      </div>
</div>

<div id="contentContainer">
      <div id="sideBar"></div>
      <div id="bodyContainer">
        <div id="bodyBar">
          <%= yield %>
        </div>
        <div id="footerContainer">
          <br>
          <br>
          <div class="footerText">©2012 Sarah Munro, All Rights Reserved.</div>
        </div>
      </div>
    </div>
    
</div>
</body>
</html>
